In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
df = sns.load_dataset("titanic")

In [17]:
# Soru 1) Kazada ölenlerin yaş ortalamasını bulunuz.  Not: Sorularda çok fazla ortalama ve medyan istendiği için bir fonksiyon yazma kararı aldım.


def ortalama_hesapla(df, kosul, degisken):
    
    kosullu_df = df[kosul]
    
    ortalama =  kosullu_df[degisken].mean()
    medyan = kosullu_df[degisken].median()
    return ortalama, medyan

In [25]:
 ort, _ = ortalama_hesapla(df, df["survived"] == 0, "age")
#sadece ortalama 
print("Kazada ölenlerin yaş ortalaması:",ort)

Kazada ölenlerin yaş ortalaması: 30.62617924528302

In [27]:
# Soru 2) Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz.

ort, med = ortalama_hesapla(df, df["survived"] == 0, "fare")

print("Kazada ölenlerin bilet fiyatlarının ortalaması:", ort)

print("Kazada ölenlerin bilet fiyatlarının medyanı:", med)

Kazada ölenlerin bilet fiyatlarının ortalaması: 22.117886885245902
Kazada ölenlerin bilet fiyatlarının medyanı: 10.5

In [35]:
# Soru 3) Kazada ölen erkeklerin yaş ortalamasını bulunuz

ort, _ = ortalama_hesapla(df, (df["survived"] == 0) & (df["sex"] == "male")  ,"age")

print("Kazada ölen erkeklerin yaş ortalaması:",ort)

Kazada ölen erkeklerin yaş ortalaması: 31.618055555555557

In [37]:
# Soru 4) Kazada ölen Kadınların yaş ortalamasını bulunuz

ort, _ = ortalama_hesapla(df, (df["survived"] == 0) & (df["sex"] == "female")  ,"age")

print("Kazada ölen Kadınların yaş ortalaması:", ort)

Kazada ölen Kadınların yaş ortalaması: 25.046875

In [39]:
# Soru 5) Kazadan kurtulanların yaş ortalamasını bulunuz

ort, _ = ortalama_hesapla(df, df["survived"] == 1, "age")

print("Kazadan kurtulanların yaş ortalaması:", ort)

Kazadan kurtulanların yaş ortalaması: 28.343689655172415

In [43]:
#Soru 6) Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

ort, _ = ortalama_hesapla(df, df["survived"] == 1, "fare")

print("Kazadan kurtulanların bilet fiyatlarının ortalaması:", ort)

Kazadan kurtulanların bilet fiyatlarının ortalaması: 48.39540760233918

In [47]:
#Soru 7) Kazadan kurtulan toplam kişi sayısını bulunuz

kurtulan_toplam = (df["survived"] == 1).sum()

print("Kazadan kurtulan toplam kişi sayısı:", kurtulan_toplam)

Kazadan kurtulan toplam kişi sayısı: 342

In [55]:
# Soru 8)  10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

_ ,med = ortalama_hesapla (df, df["age"] < 10, "fare")
#sadece medyan

print("10 yaşından küçüklerin bilet fiyatlarının medyanı:", med)

10 yaşından küçüklerin bilet fiyatlarının medyanı: 27.0

In [59]:
# Soru 9)  1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız. 

df.groupby("pclass")["fare"].agg(["mean", "median"])

             mean   median
pclass
1       84.154687  60.2875
2       20.662183  14.2500
3       13.675550   8.0500

In [65]:
# Soru 10) Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız.

olenler = df[df["survived"] == 0]

oranlar = olenler.groupby("sex").size() / len(olenler)

print("Kazada ölen kadınların oranı:", oranlar["female"])

print("Kazada ölen erkeklerin oranı:", oranlar["male"])

Kazada ölen kadınların oranı: 0.14754098360655737
Kazada ölen erkeklerin oranı: 0.8524590163934426